.ridecard {
  display: flex;
  justify-content: space-between;
  margin: 0 43px auto;
  margin-bottom: 13px;
  border-radius: 10px;
  width: 93.7%;
  height: 198px;
  background-color: #171717;
  color: white;
  position: relative;
  .left {
    display: flex;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #cfcfcf;

    img {
      margin: 22px 44px 28px 29px;
    }
    .content {
      p {
        margin: 0;
        margin-bottom: 8px;
      }
      margin: 25px 0 20px 0;
    }
  }
  .right {
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;

    p {
      margin: 0;
      padding: 4px 10px;
      margin-left: 24px;
      background: rgba(0, 0, 0, 0.56);
      border-radius: 16px;
    }
  }
}
